body {
  background-image: url("https://img.freepik.com/premium-photo/colored-pencils-sheet-notes-lie-blue-background-top-view-background-todo-list-back-school_230115-2400.jpg?w=2000");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.signin {
  align-items: center;
  margin: 0 auto;
}
.login {
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: decimal;
}

.none {
  display: none !important;
}
